<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spc.comunity.dao.MybatisFreeBoardRepository">


	<select id="findPage"
		resultType="com.spc.comunity.dto.FreeBoardDto" parameterType="int">
		select * from TBL_FREE_BOARD order by idx desc limit ${page}, 20;
	</select>
	
	<select id="findLately"
		resultType="com.spc.comunity.dto.FreeBoardDto" parameterType="int">
		select * from TBL_FREE_BOARD order by idx desc limit 0,5;
	</select>
	
	<select id="findBoard"
		resultType="com.spc.comunity.dto.FreeBoardDto" parameterType="int">
		select * from TBL_FREE_BOARD where idx = #{boardNum};
	</select>



</mapper>