<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spc.comunity.dao.MybatisUserInfoRepository">
	
	<select id="findAll" resultType="com.spc.comunity.dto.UserInfo">
		select * from TBL_USER_INFO
	</select>
	
	<select id="findById" resultType="boolean" parameterType="string">
		select if(count(ID) = 1,1,0) from TBL_USER_INFO where ID = #{id}
	</select>
	
	<select id="getUserInfo" resultType="com.spc.comunity.dto.UserInfo" parameterType="hashmap">
		select * from TBL_USER_INFO where ID = #{userId} and PASSWORD = #{userPassword}
	</select>
	
</mapper>