// className 여러개 쓸떄, 
// 1. Style. 일때 className={`${styles.container1} ${styles.container2}`}
// 2. Style.과 일반 클래스 혼합일때 className={`${styles.container1} mt-5`}

// color
$poo-primary-blue: #0091ec;
$poo-primary-green: #3bce84;
$poo-primary-orange: #ff6b01;
$poo-beige-bg: #fbfbec;
$gray-c8: #c8c8c8;
$gray-300: #333;// todo: 여기서부터 왜 페이징모듈scss에서 안되지?
$gray-600: #666;
$gray-800: #888;
