@import './variable';

.BoardTitle {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.RegBox {
  border: 1px solid red;
}

.BoardContents {
}

.ContentArea {
  min-height: 30vh;
  // margin-bottom: 150px;
}

.UpDownShare {
}

.UpDownShare span {
  padding: 0px 30px;
}

.Up {
  background-image: url('../public/up.png');
  content: "";
  width: 64px;
  height: 64px;
}

.Down {
  background-image: url('../public/down.png');
  content: "";
  width: 64px;
  height: 64px;
}

.Up:hover,
.Down:hover {
  cursor: pointer;
}

.CommentArea {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.CommentArea li {
  padding: 10px;
  border-top: 1px solid rgb(153, 153, 153);
}

.CommentMeta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}


