@import "./variable";
@import "../node_modules/bootstrap/scss/bootstrap";

// font-size rem 사용.


html,
body {
  padding: 0;
  margin: 0;
  font-family: nanum-square,-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background: #3bce84;
    background-image: linear-gradient(180deg, #0091ec 0%, #0091ec 35%, #3bce84 35%, #3bce84 100%);
    font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none; 
}

small, .small {
  font-size: .75rem;
  &-gray {
    color: $gray-800;
  }
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}


// break point
//   xs: 0,
//   sm: 576px,
//   md: 768px,
//   lg: 992px,
//   xl: 1200px,
//   xxl: 1400px
//   @include media-breakpoint-up(sm) { ... }
//   @include media-breakpoint-down(sm) { ... }

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);


// @include media-breakpoint-up(sm) {
//   body {
//     background: red;
//   }
// }

// .center-container {
//   border: 1px dashed black;
// }

// .center-child {
//   border: 1px dashed blue;
// }
