@import "./variable";

// font-size rem 사용.

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #eeebd6;
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none;
}

small {
  font-size: .75rem;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.center-container {
  border: 1px dashed black;
}

.center-child {
  border: 1px dashed blue;
}
