@import "./variable";

.NavBarBox {
    border: 1px dashed black;
}

.NavBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
    width: $FIXED_WIDTH;
    margin: 0 auto;
    border: 1px dashed black;
}

.NavMenu {
    display: flex;
    list-style: none;
    padding: 0;
}

.NavMenu li {
    padding: 8px 12px;
}

.NavMenu li a:hover {
    text-decoration: underline;
}

.NavBarLogo {
    font-size: 24px;
    color: black;
}

.NavBarLogo span {
    vertical-align: middle;

}

.NavToolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px dashed red;
    background-color: #fbfbfb;
    padding: 3px 1%;
}

.NavToolbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.NavToolbar ul li a:hover {
    text-decoration: underline;
}

.MobileMenu {
    display: none;
}

@media (max-width: $FIXED_WIDTH) {
    .NavBar {
        width: $FULL_WIDTH;
    }

}

@media (max-width: 991px) {
    .NavBarLogo span {
        display: none;
    }

    .NavBarLogo {
        margin: 0px 3%;
    }

    .NavMenu {
        margin: 0px 3%;
    }
}

@media (max-width: $MOBILE_WIDTH) {
    .NavMenu {
        display: none;
    }

    .MobileMenu {
        display: block;
    }

    .NavBarLogo span {
        display: none !important;
    }

    .NavBar {
        padding: 8px 2%;
    }
}