@import './variable';

.BoardListItem {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid $gray-c8;
    &:hover {
        background: $gray-c8;
        cursor: pointer;
    }
}
.Title {
    font-size: 1rem;
    margin: 0;
}
.BoardSubInfo {
    color: $gray-800;
}