.TableStyle {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.TableStyle td {
    padding-top: 7px;
    padding-bottom: 7px;
}

.TableStyle tr:hover {
    background-color: #ddd;
}

.TableStyle td:nth-child(1) {
    width: 70px;
    text-align: center;
}

.TableStyle td:nth-child(2) {
    width: calc(100% - 410px);
}

.TableStyle td:nth-child(2):hover {
    text-decoration: underline;
}

.TableStyle td:nth-child(3) {
    width: 200px;
    text-align: center;
}

.TableStyle td:nth-child(4) {
    width: 100px;
    text-align: center;
}

.TableStyle td:nth-child(5) {
    width: 40px;
    text-align: center;
}

.TableStyle td:nth-child(6) {
    width: 80px;
    text-align: center;
}

.BoardArea {
    width: 100%;
}

.Title:hover {
    cursor: pointer;
}